/venv
/__pycache__
/api/__pycache__
/bot/__pycache__
/bot_test/__pycache__
/bot_test_1/__pycache__
/bot_test_1/callbacks/__pycache__
/bot_test_1/command/__pycache__
/bot_test_1/keyboar/__pycache__
/bot_test_1/message/__pycache__